#flex-conatainer {
  display: flex;
  border: 2px solid black;
  padding: 10px;
  height: 300px;
  flex-direction: row;
  align-items: flex-start;

}

.flex-item {
  margin: 5px;
  border-radius: 10px;
  background-color: purple;
  height: 50px;
  width: 50px;
  flex-grow: 1;
}

#box {
  height: 500px;
  width: 500px;
  background-color: hotpink;
}
#upper-half {
  height: 50%;
  width: 100%;
  border: 5px solid black;
  box-sizing: border-box;
}
#upper-quarter {
  height: 100%;
  width: 50%;
}
#box div {
  background-color: rgba(255, 255, 255, 0.25);
}
